html,body{
/*    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;*/
}

body{
    color: #333333;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    select {
        -webkit-appearance: menulist-button !important;
        line-height:24px !important;
    }
}

input::-moz-placeholder {
  /*color: #cfcfcf !important;*/
  color:rgb(153, 153, 153);
  font-style: italic;
  font-weight: normal;
font-size: 14px;
  opacity: 1;
}
input:-ms-input-placeholder {
  /*color: #cfcfcf !important;*/
  color:rgb(153, 153, 153);
  font-weight: normal;
font-size: 14px;
   font-style: italic;
}
input::-webkit-input-placeholder {
  /*color: #cfcfcf !important;*/
  color:rgb(153, 153, 153);
  font-weight: normal;
font-size: 14px;
   font-style: italic;
}

textarea::-moz-placeholder {
  color:rgb(153, 153, 153);
  font-style: italic;
  font-weight: normal;
font-size: 14px;
  opacity: 1;
}
textarea:-ms-input-placeholder {
  color:rgb(153, 153, 153);
  font-style: italic;
  font-weight: normal;
font-size: 14px;
  opacity: 1;
}
textarea::-webkit-input-placeholder {
  color:rgb(153, 153, 153);
  font-style: italic;
  font-weight: normal;
font-size: 14px;
  opacity: 1;
}


.content-section-a{
    color:#333;
    text-align: left;
}



#firstimage{
    float:left;
    width:55%;
}


#secondimage{
position: absolute;
    height: 245px;
    left: 43%;
    bottom: 30px;
}

.invalid{
    color:red;
}

.headline{
    font-size: 55px;
    line-height: 60px;
    padding-top:0px;
    /*padding-bottom:50px;*/
    color:white;
}

.subline{
    font-weight: 400;
    font-size: 34px;
}

.final{
    margin-top:-10px;
    margin-bottom: 50px;
}

.sale{
    font-size: 25px;
    color:#0c4999;
    font-weight: 400;
}

#prices{
    width: 100%;
    margin-top:-20px;
}

.badprice{
    font-size: 40px;
    font-weight: 400;
    text-decoration: line-through;
    color: #00A4BC;

}

.okprice{
    font-size: 50px;
    font-weight: 600;
    margin-right: 30px;
    color: white;
}

#spedizione{
    font-size: 20px;
    padding: 17px 7px;
    color: #fff;
    font-weight: 400;
}

.acquistasubito{
    margin-top:0px;
    background:#243b5e;
    border-radius: 32px;
    font-size: 25px;
    padding: 10px 50px;
    margin-top:30px;
}

#acquistasubito{
    background: #0c4999;
    padding:10px 30px; 
    font-size: 28px;
    color:white;
    border-radius: 50px;
    font-weight: 400;
    bottom: 5px;
    right: 0px;
    position: absolute;
}

.button_container{
    width:100%;
    margin:50px 0px;

}

.blockquote {
    font-style: italic;
    margin: 1.5em 10px;
    padding: .5em 10px;
    quotes:  '\201c' '\201d';
}

.blockquote:before {
    color: #ccc;
    content: open-quote;
    font-size: 4em;
    line-height: .1em;
    margin-right: .25em;
    vertical-align: -.4em;
}

.blockquote p {
    display: inline;
}

#featured3{
    background-color: #CFA777;

    background-image: url("../img/fondo-persone-full.png");
    background-repeat: no-repeat;
    background-position: 0% 100%;
    background-size: contain;
    padding-bottom:180px;
}


.collo_114 {
    margin-top:30px;
    background:#243b5e;
    border-radius: 32px;
    font-size: 25px;
    padding: 10px 50px;
}

.form-box {
    text-align: center;
}

.primar_img {
    width: 31%;
    display: inline-block;
    margin: 22% 0% 0% -15%;
}

.real {
    display: inline-block;
    position: relative;
    margin: 60px 0 0;
    float: right;
}

.H1_84 {
    margin: 0;
}

.h2_84_2 {
    padding: 15px 0;
}

.fon_h {
margin-top: 25px;
}

.cool_row {
    margin: 30px 0px 0px 0px;
}
.section-heading-spacer {
    width: 267px;
}

.span_circle {
    list-style: disc;
}

.cool_box {
    margin-top: 15px;
}

.form_img {
    width: 100%;

}

form {
    border-radius: 5px;
    width: 410px;
    display: block;
    margin: 0 auto;
    text-align: center;
    max-width: 100%;
    position: relative;
}
input{
    font-size: 20px;
    width: 98%;
}

select{
    width: 99%;
    cursor: pointer;
    padding: 20px 0 5px 20px;
}

form input,
form select {
    outline: none;
    border: none;
    box-sizing: content-box;
    padding: 3px 0 3px;
    height: 35px;
    font-size: 17px;
    border-radius: 5px;
    margin-bottom: 10px;
    text-indent: 10px;
    color: #000;
    font-weight: 100;
}

.boot_click {
    position: relative;
    top: 10px;
    text-align: center;
    background: #f00;
    width: 98%;
    margin: 0 auto;
    border-radius: 5px;
    height: 45px;
    color: #fff;
    font-size: 24px;
}


.fondocountdown{
    width: 360px;
    background: #00A4BC; 
    border-radius: 50px;
}

#provincia{
    float: left;
    width: 70px;
    margin-right: 20px;height: 32px;
}

#citta{
    float: left;
    width: 160px; height: 32px
}

@media screen and (min-width: 992px) and (max-width:1199px){


    #secondimage{

      height: 230px;
bottom: 0px;
left: 270px;
    }

    .headline{
        font-size: 45px;
        padding-bottom: 20px;
        line-height: 45px;
    }

    .subline{

        font-size: 26px;
    }

    .sale{
        font-size: 21px;

    }

    .badprice{
        font-size: 35px;

    }

    .okprice{
        font-size: 45px;

    }

    #spedizione{
        font-size: 20px;
    }

    #acquistasubito{
        font-size: 22px;
    }


}

@media screen and (min-width: 768px) and (max-width:991px){




    #secondimage{

       height: 200px;
left: 190px;
bottom: 10px;
    }

    .headline {
        font-size: 34px;
        line-height: 30px;
        padding-bottom: 11px;
    }

    .subline {

        font-size: 23px;
    }

    .final{
        margin-bottom: 25px;
    }

    .sale{
        font-size: 16px;
    }

    #prices{

        margin-top:-20px;
    }

    .badprice{
        font-size: 25px;

    }

    .okprice{
        font-size: 32px;

    }

    #spedizione{
        font-size: 18px;
    }

    .acquistasubito{
        font-size: 20px;
        margin-top:10px
    }

    #featured3{
        padding-bottom: 380px;
        background-image: url("../img/fondo-persone-768.png")
    }

    .fondocountdown{

        width: 340px;

    }
}



@media screen and (min-width: 600px) and (max-width: 767px){

    #newstar{
        width:90%;
        left:5%;

    }

    .intro-header{
        padding-top:15px;
    }

    .headline{
        font-size: 55px;
        line-height: 50px;
    }

    #bs-example-navbar-collapse-1{
        background:white;
    }

    .navbar{
        background-color:rgba(255, 255, 255, 0);
        border:0px solid white;
    }

    .navbar-toggle button{
        border: 2px solid white;
        background: #ddd;
    }

    #firstimage{
        max-width: 300px;
    }

    #secondimage{
       height: 330px;
left: 290px;
bottom: 20px;

    }

    .badprice{
        font-size: 36px;

    }

    .okprice{
        font-size: 46px;

    }

    .button_container{
        text-align: center;
    }

    .content-section-a{
        padding:20px 0px;
    }

    #featured3{
        padding-bottom: 380px;
        background-image: url("../img/fondo-persone-768.png")
    }
}

@media screen and (min-width: 500px) and (max-width: 600px){

    #newstar{
        width:90%;
        left:5%;

    }

    .intro-header{
        padding-top:15px;
    }

    #bs-example-navbar-collapse-1{
        background:white;
    }

    .navbar{
        background-color:rgba(255, 255, 255, 0);
        border:0px solid white;
    }

    .navbar-toggle button{
        border: 2px solid white;
        background: #ddd;
    }


    #rowheader{
        padding-top:10px;
    }

    .headline{
        font-size: 45px;
        line-height: 40px;
        padding-bottom: 20px;
    }

    .subline{

        font-size: 23px;
    }

    .sale{
        font-size: 22px;

    }

    #prices{
        margin-top:-30px;
    }

    .badprice{
        font-size: 28px;

    }

    .okprice{
        font-size: 36px;

    }

    #spedizione{
        font-size: 18px;
    }

    #acquistasubito{
        font-size: 10px;
    }

    #secondimage{
     left: 240px;
bottom: 10px;
height: 240px;
    }

    #firstimage{
        max-width: 220px;
    }

    .button_container{
        text-align: center;
    }

    .content-section-a{
        padding:20px 0px;
    }

    #featured3{
        padding-bottom: 380px;
        background-image: url("../img/fondo-persone-768.png")
    }
}

@media screen and (min-width: 320px) and (max-width: 499px){

    .cbx-subscriber{
        margin-top:10px !important;
        margin-bottom:120px;
    }


    #newstar{
        width:90%;
        left:5%;

    }

    .intro-header{
        padding-top:15px;
    }

    #bs-example-navbar-collapse-1{
        background:white;
    }

    .navbar{
        background-color:rgba(255, 255, 255, 0);
        border:0px solid white;
    }

    .navbar-toggle button{
        border: 2px solid white;
        background: #ddd;
    }

    #rowheader{
        padding-top:10px;
    }

    .headline{
        font-size: 28px;
        line-height: 28px;
        padding-bottom: 20px;
    }

    .subline{

        font-size: 23px;
    }

    .sale{
        font-size: 19px;

    }

    #prices{
        margin-top:-30px;
    }

    .badprice{
        font-size: 28px;

    }

    .okprice{
        font-size: 36px;

    }

    #spedizione{
        font-size: 15px;
    }

    #acquistasubito{
        font-size: 10px;
    }

    #firstimage{
        max-width: 180px;
    }

    #secondimage{
       left: 165px;
bottom: 20px;
height: 160px;

    }

    .button_container{
        text-align: center;
        margin:40px 0 px;
    }

    .content-section-a{
        padding:20px 0px;
    }

    #featured3{
        background-image: url("../img/fondo-persone-360.png");
        padding-bottom: 200px;
    }

    .featured31{
        width:100%;
    }
}

.secondcolumn{
    padding-top:100px;
}

.featured{
    padding: 50px 0;
}

#featured2{
    color:white; 
    background-repeat: no-repeat;
    background-size: cover;
}

#testimonials{
    background: #00A4BC !important;
    color: #fff;
    letter-spacing: 1px;
}

#testimonials .title{

    text-align: center;
}

#contact{
    color:#fff; 
    background:#243b5e;  

    background-repeat: no-repeat;
    background-size: cover;
}

#contact .container{
    padding:25px;
    background: #93D5E0;
    width:60%;
    border-radius: 60px;
}

.bad-price{
    float:left;
    font-size: 40px;
    text-decoration: line-through;
    padding-right:1em
}

.ok-price{
    float:left;
    font-size: 60px;
    font-weight: bold;
    color:#3366cc;
}



.register_button{
    padding: 50px 0px;
    float:right;

}

.register_button a{
    background: #ffff00;
    color:#243b5e;
}


.IMG_014 {
    display: inline-block;
    position: relative;
    width: 28%;
    float: left;
    margin: 2% -30% 0% 21%;
}

@media screen and (max-width: 320px) {

    h2.section-heading{
        font-size: 25px
    }
    /*        .intro-message img{
                width: 80px;
            }*/
    p.lead{
        font-size: 15px
    }
    .order_button{
        text-align: center;
    }

    #testimonials{
        padding:20px 0;
    }

    #testimonials h1{

        font-size: 18px;
    }

    #contact .container{
        padding:10px;
    }

    /*        .intro-header{
                padding-top:0px;
                padding-bottom:0px;
            }*/
}


@media screen and (min-width: 320px)and (max-width: 500px) {



    .order_button{
        text-align: center;
    }
}

#featured2{
      background: linear-gradient(to right, #DDB385 64%, #00A5BD 36%);
      position: relative;
}


@media screen and (min-width: 501px) and (max-width: 767px) {

    .order_button{
        text-align: center;
    }
}

@media screen and (max-width: 991px) {
    #featured2{
        background: rgb(166, 128, 95) !important;
	background-image:none !important;
    }

    #contact .container{
        padding: 0px 30px 50px 30px;
    }




}


.form-error{
    color:red;
}

a.btn{
    background-color: #00A4BC;
    border-color: #00A4BC;
    border-radius: 32px;
    font-size: 25px;
    padding: 10px 50px;
}

hr{
    border-top: 5px solid rgb(89,68,50) !important;
}

.j_117 {
   background-color: #f00 !important;
   border-color: #f00 !important;
   color: #fff !important;
}

@media (width: 1024px) {
  #secondimage {
    height: 215px;
    left: 200px;
}  
#featured2 {
    background-position: 0px 0px;
}

#featured2 {
    background: linear-gradient(to right, #DDB385 70%, #00A5BD 30%);
}
.IMG_014 {
    margin: 9.5% -30% 0% 18%;
}
.primar_img {
    margin: 29% 0% 0% -22%;
}
.cool_row {
    margin: 60px 0 0px 0px;
}
.fon_h {
    margin-top: 25px;
}
.h2_84_2 {
    font-size: 34px;
    padding: 15px 0;
}
#featured3 {
    padding-bottom: 160px;
}
}

@media all and (max-width: 768px) {

#secondimage {
    height: 175px;
    left: 154px;
}  
}

@media all and (max-width: 415px) {
#secondimage {
    height: 136px;
    left: 145px;
    margin-bottom: 50px;
    max-width: 100%;
    width: 61%;
}
#contact .container {
    width: 95%!important;
}
#featured3 {
  padding-bottom: 200px!important;  
}
.cool_row {
    margin: 20px 0px 0px 0px!important;
}
#spedizione{
    color: #fff;
}
.navbar-fixed-top, .navbar-fixed-bottom {
    position: absolute;
}
}  


@media (max-width: 360px) {
#secondimage {
    height: 123px;
    left: 149px;
    margin-bottom: 50px;
    max-width: 97%;
    width: 58%;
}
}

@media all and (max-width: 320px) {
#secondimage {
    height: 104px;
    left: 138px;
    margin-bottom: 35px;
    max-width: 97%;
    width: 56%;
}
} 

@media (width: 1920px) {
    .primar_img {
    width: 36%;
    display: inline-block;
    margin: 19% 0px 0px -14%;
}

.IMG_014 {
    margin: 2% -31% 0% 25%;
}
.cool_row {
    margin: 20px 0px 20px 0px;
}
.section-heading-spacer {
    width: 267px;
}
.form_img {
    width: 65%;
    margin: 0 auto;
}
.cool_box {
    margin-bottom: 30px;
}
}

@media (width: 1600px) {
    .primar_img {
    width: 36%;
    display: inline-block;
    margin: 7% 0px 0px -20%;
}

.IMG_014 {
    width: 27%;
    margin: 2% -30% 0% 24%;
}
.primar_img {
    width: 33%;
    margin: 21% 0px 0px -25%;
}
.cool_row {
    margin: 20px 0px 0px 0px;
}
.section-heading-spacer {
    width: 267px;
}
.cool_box {
    margin-bottom: 35px;
}
}

@media (width: 1280px) {
    .primar_img {
    width: 33%;
    display: inline-block;
    margin: 7% 0px 0px -7%;
}

.primar_img {
    width: 30%;
    margin: 23% 0px 0px -22%;
}
.cool_row {
    margin: 40px 0px 0px 0px;
}
.boot_click {
    height: 40px;
}
form input, form select {
    padding: 1px 0 1px;
}
.cool_box {
    margin-bottom: 10px;  
}
}

@media all and (max-width: 1024px) {
    #contact .container {
        width: 80%;
    }
}

@media all and (max-width: 769px) {
.IMG_014 {
    display: none;
   } 
div#featured2:before {
    display: none;
   }
.primar_img {
    display: none;
}
.cool_row {
    margin: 60px 0px 0px 0px;
}
#featured3 {
   padding-bottom: 365px;
}
.boot_click {
    top: 15px;
}
#contact .container {
    padding: 0px 20px 50px 20px;
}
}

.primar_img,
.IMG_014 {
    display: none;
}

@media (min-width: 992px) {
    .primar_img,
    .IMG_014 {
        display: inline-block;
    }
    .IMG_014 {
        top: 72px;
    }
    #featured2 {
        background: url(../img/bgfix.svg);
        background-size: cover;
        background-position: center;
    }
    div#featured2:before {
        display: none;
    }
}

@media (min-width: 1200px) {
    .IMG_014 {
        top: 0;
    }
}

@media (max-width: 768px) {
    #firstimage {
        float: none;
    }
    #secondimage {
        position: absolute;
        bottom: 0;
        left: 2vw;
        margin-bottom: 0;
    }
}

select::-ms-expand {
	display: none;
}

select {
	appearance: none !important;
	background-repeat: no-repeat;
	background-position: right 5px center;
	background-size: 1em;
	background-image: url(../img/arrow-down.png);
}